<!-- This section is about starting the creation of a poll -->
<section *ngIf="!createRoomService.creation()">
  <div class="row">
    <div class="8u 12u$(mobile)">
      <p>
        Start creating your own poll by clicking this button: <br>
        <small>(you need to be <a class="jumplink" href="#user">logged in</a>)</small>
      </p>
    </div>
    <div class="4u$ 12u$(mobile)">
      <button (click)="createRoomService.start()" [disabled]="!authService.authentificated()">Start new room</button>
    </div>
  </div>
</section>

<!-- This section is for TEST -->
<section>
  <hr>
  <p>{{diag()}}</p>
  <hr>
  <app-question-creation [question]="question" (onValidate)="validate($event)"></app-question-creation>
  <hr>
  <app-question-form [question]="question" (onChoice)="choice($event)"></app-question-form>
</section>