<!-- This section is about starting the creation of a poll -->
<section *ngIf="!createRoomService.creation()">
  <div class="row">
    <div class="8u 12u$(mobile)">
      <p>
        Start creating your own poll by clicking this button: <br>
        <small>(you need to be <a class="jumplink" href="#user">logged in</a>)</small>
      </p>
    </div>
    <div class="4u$ 12u$(mobile)">
      <button (click)="createRoomService.start()" [disabled]="!authService.authentificated()">Start new room</button>
    </div>
  </div>
</section>

<!-- This section is for TEST -->
<hr>
<header>
  <h2>Question components - Testing area</h2>
</header>
<section>
  <header>
    <h3>Creation</h3>
  </header>
  <section>
    <app-question-creation [question]="question" (onValidate)="validate($event)"></app-question-creation>
  </section>
  <header>
    <h3>Form</h3>
  </header>
  <section>
    <app-question-form [question]="question" (onChoice)="choice($event)"></app-question-form>
  </section>
  <header>
    <h3>Result</h3>
  </header>
  <section>
    <app-question-result [question]="question"></app-question-result>
  </section>
</section>