<!-- This section is about starting the creation of a poll -->
<section *ngIf="!creation()">
  <div class="row">
    <div class="8u 12u$(mobile)">
      <p>
        Start creating your own poll by clicking this button: <br>
        <small>(you need to be <a class="jumplink" href="#user">logged in</a>)</small>
      </p>
    </div>
    <div class="4u$ 12u$(mobile)">
      <button (click)="create()" [disabled]="!authService.authentificated()">Start new room</button>
    </div>
  </div>
</section>

<div *ngIf="creation()">
  <!-- Room parameters -->
  <section>
    <h2>Room informations</h2>
    <div class="row">
      <!-- Name --> 
      <div class="2u 12u$(mobile)">Name :</div>
      <div class="8u 12u$(mobile)">
        <input type="text" [(ngModel)]="roomName">
      </div>
      <div class="2u$ 12u$(mobile)">
        <button (click)="updateName()">Update</button>
      </div>
      
      <!-- Password --> 
      <div class="2u 12u$(mobile)">Password :</div>
      <div class="4u 12u$(mobile)">
        <app-input-number count="4" (onFullfilled)="setRoomPassword($event)" [disabled]="hasPassword()"></app-input-number>
      </div>
      
      <!-- Actions --> 
      <div class="2u 12u$(mobile)">Actions :</div>
      <div class="4u$ 12u$(mobile)">
        <button (click)="close()">Close room</button>
      </div>

      <!-- Infos -->
      <div class="12u$">
        <p>Give the room number <span class="highlight">{{roomProxyService.room.id}}</span> to your audience to allow them to join it!</p>
        <p *ngIf="hasPassword()">And don't forget the room password: <span class="highlight">{{roomProxyService.room.password}}</span></p>
        <p>
          Or you can give them this quick link:<br>
          <input type="text" value="{{joinLink()}}" readonly="true">
        </p>
      </div>
    </div>
  </section>

  <!-- Questions -->
  <section>
    <hr>
    <p *ngIf="roomProxyService.room.questions.length==0">No questions yet</p>
    <div *ngFor="let q of roomProxyService.room.questions">
      <app-question-result [question]="q"></app-question-result>
      <div class="row">
        <div class="6u 12u$(mobile)">
          <button (click)="deleteQuestion(q)">Delete question</button>
        </div>
        <div class="6u$ 12u$(mobile)">
          Opened? 
          <i *ngIf="q.open" class="fa fa-check"></i>
          <i *ngIf="!q.open" class="fa fa-times"></i>
          <button (click)="toggleQuestion(q)">Toggle</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Question editing -->
  <section>
    <hr>
    <button *ngIf="question==null" (click)="addQuestion()">Add question</button>
    <div *ngIf="question!=null">
      <p><button (click)="cancelQuestion()">Cancel question</button></p>
      <app-question-creation [question]="question" (onValidate)="validateQuestion($event)"></app-question-creation>
    </div>
  </section>
</div>