<!-- Nav -->
	<nav id="nav">
    <a href="#about" class="icon fa-info active"><span>About</span></a>
    <a href="#join" class="icon fa-check-square"><span>Join</span></a>
    <a href="#create" class="icon fa-plus"><span>Create</span></a>
		<a href="#user" class="icon fa-user"><span>User</span></a>
	</nav>

<!-- Main -->
	<div id="main">

    <!-- About -->
      <article id="about" class="panel">
        <header>
          <h1>Poll's On!</h1>
          <p><strong>/pɔʊlzɒn/</strong></p>
          <p>Simple, interactive, fast polls managment.</p>
        </header>
        <p>Bla bla</p>
      </article>

    <!-- Join a Poll -->
      <article id="join" class="panel">
        <header>
          <h2>Polls</h2>
        </header>
      </article>

    <!-- Create a Poll -->
      <article id="create" class="panel">
        <header>
          <h2>Polls</h2>
        </header>
      </article>

		<!-- User -->
			<article id="user" class="panel">
				<header>
					<h2>User</h2>
				</header>
			</article>

	</div>