<!-- Nav -->
	<nav id="nav">
    <a href="#about" class="icon fa-info active"><span>About</span></a>
    <a href="#join" class="icon fa-check-square"><span>Join</span></a>
    <a href="#create" class="icon fa-plus"><span>Create</span></a>
		<a href="#user" class="icon fa-user"><span>User</span></a>
	</nav>

<!-- Main -->
	<div id="main">

    <!-- About -->
      <article id="about" class="panel">
        <app-about></app-about>
      </article>

    <!-- Join a Poll -->
      <article id="join" class="panel">
        <app-join></app-join>
      </article>

    <!-- Create a Poll -->
      <article id="create" class="panel">
        <app-create></app-create>
      </article>

		<!-- User -->
			<article id="user" class="panel">
        <app-user></app-user>
			</article>

	</div>