<!-- Nav -->
	<nav id="nav">
    <a href="#about" class="icon fa-info active"><span>About</span></a>
		<a href="#polls" class="icon fa-check-square"><span>Polls</span></a>
		<a href="#user" class="icon fa-user"><span>User</span></a>
	</nav>

<!-- Main -->
	<div id="main">

    <!-- About -->
      <article id="about" class="panel">
        <header>
          <h1>Poll's On!</h1>
          <p>Simple, interactive, fast polls managment.</p>
        </header>
        <p>bla bla</p>
      </article>

		<!-- Polls -->
			<article id="polls" class="panel">
				<header>
					<h2>Polls</h2>
				</header>
			</article>

		<!-- User -->
			<article id="user" class="panel">
				<header>
					<h2>User</h2>
				</header>
			</article>

	</div>