<!-- If the user is not logged -->
<app-user-login *ngIf="!authService.authentificated()" (onSuccessLogin)="fetch()"></app-user-login>

<!-- Here the template for logged user -->
<div *ngIf="authService.authentificated()">
  <header>
    <h2>Hello <em>{{authService.user.name}}</em> !</h2>
  </header>

  <!-- History -->
  <section>
    <h3>History</h3>
    <p>Old rooms you've created.</p>
    <app-room-history *ngFor="let r of rooms" [room]="r"></app-room-history>
    <hr>
    <button (click)="fetch()">Reload</button>
    <button (click)="loadMore()">Load more</button>
  </section>
</div>