/* You can add global styles to this file, and also import other style files */

/* Text */

    small {
        font-size: 80%;
    }

    div.right {
        text-align: right;
    }

    p.question-mark {
        text-align: center;
        font-size: 3em;
        margin: auto;
        padding: auto;
    }

    p.option-mark {
        text-align: center;
        font-size: 2em;
        margin: auto;
        padding: auto;
    }

    .highlight {
        background-color: #f8f8f8;
    }

/* Buttons */

    button {
        font-size: large;
    }

    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    
    button.full {
        width: 100%;
    }

/* Progress bars */
    .progress-container {
        height: 1.5em;
        position: relative;
        width: 100%;
        font-size: 24px !important;
        background-color: #f8f8f8;
    }

    .progressbar {
        background-color: #e5e5e5;
        height: 100%;
        line-height: inherit;
        position: absolute;
        padding-left: 5px;
    }

/* Input (copied from main.css "Forms") */

    label {
        display: block;
        font-weight: 400;
        color: #363636;
        margin: 0 0 1em 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,
    textarea {
        -webkit-appearance: none;
        border: 0;
        background: #f4f4f4;
        padding: 0.75em;
        width: 100%;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;
        -ms-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out;
    }

        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus,
        select:focus,
        textarea:focus {
            background: #f8f8f8;
        }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        line-height: 1.35em;
    }

    ::-webkit-input-placeholder {
        color: #999;
    }

    :-moz-placeholder {
        color: #999;
    }

    ::-moz-placeholder {
        color: #999;
    }

    :-ms-input-placeholder {
        color: #999;
    }

/* Room info */
div.room-info {
    background-color: white;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
    position: fixed;
    top: 4.25em;
    left: 1vw;
    width: 18vw;
    padding: 1vw;
}